<%- model_class = Mrpjob -%>
<div class="text-center">
    <div class="page-header">
      <h1><%= @mrpjob.name %></h1>
    </div>
    
    <div><h4>Description:</h4> <%= @mrpjob.description %></div>
    
    <div class="padding">
        <%= link_to 'new runtime',
                new_runtime_path,
                :class => 'btn btn-primary' %>
    </div>
    
    <%= render 'table' %>
    
    
</div>
<div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              mrpjobs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mrpjob_path(@mrpjob), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mrpjob_path(@mrpjob),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>