<h1>Dashboard</h1>

<hr />
<div class="row">
  <h3 class="col-lg-8">You are viewing the Dashboard for <strong><%= @searchdate %></strong></h3>
  <%= form_tag(root_path, method: "get", class: "col-lg-4") do %>
    <%= label_tag(:date, "Which day do you want to view?") %>
    <%= select_date Date.today, prefix: :date %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<hr />

<div class="row center-row">
    <% @runtimes.each do |runtime|%>
        <% if runtime.date == @searchdate %>
            <div class="col-lg-4 col-md-12 text-center today-card">
                <div class="row dash-name">
                    <p class="homescreen-mrp-name"><%= runtime.mrpjob.name %></p>
                    <p class="homescreen-mrp-description"><%= runtime.mrpjob.description %></p>
                </div>
                <hr />
                <div class="row dash-start-end">
                    <span class="bolder">Start-Time:</span>
                    <%= runtime.start_time.try(:strftime, '%R') %>
                     <span class="bolder">- End-Time:</span>
                    <%= runtime.end_time.try(:strftime, '%R') %>
                </div>
                    <% if (runtime.start_time > runtime.end_time) %>
                      <% @runtimewarnings.each do |warnings|%>
                        <% if runtime.mrpjob.name == warnings[0] %>
                          <% if (((runtime.end_time - runtime.start_time)/60) + 1440).round > warnings[1] + 60 %>
                            <div class="row dash-complete red">
                              <span class="homescreen-time "><%= (((runtime.end_time - runtime.start_time)/60) + 1440).round %></span>
                          <% elsif (((runtime.end_time - runtime.start_time)/60) + 1440).round > warnings[1] + 30 %>
                            <div class="row dash-complete yellow">
                              <span class="homescreen-time "><%= (((runtime.end_time - runtime.start_time)/60) + 1440).round %></span>
                          <% else %>
                            <div class="row dash-complete green">
                              <span class="homescreen-time "><%= (((runtime.end_time - runtime.start_time)/60) + 1440).round %></span>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% @runtimewarnings.each do |warnings|%>
                        <% if runtime.mrpjob.name == warnings[0] %>
                          <% if ((runtime.end_time - runtime.start_time)/60).round > warnings[1] + 60 %>
                            <div class="row dash-complete red">
                              <span class="homescreen-time "><%= ((runtime.end_time - runtime.start_time)/60).round %></span>
                          <% elsif ((runtime.end_time - runtime.start_time)/60).round > warnings[1] + 30 %>
                            <div class="row dash-complete yellow">
                              <span class="homescreen-time "><%= ((runtime.end_time - runtime.start_time)/60).round %></span>
                          <% else %>
                            <div class="row dash-complete green">
                              <span class="homescreen-time "><%= ((runtime.end_time - runtime.start_time)/60).round %></span>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
