<%- model_class = Runtime -%>
<div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div class="container">
    <div class="row">

      <% @mrpjobs.each do |runtime| %>
        <%= fields_for @runtime do |r| %>
          <div class="col-sm-6 col-md-4 padding">
            <%= render "form", :runtime => runtime %>
          </div>
        <% end %>

      <% end %>
    </div>
</div>
<div class="col-lg-offset-2 col-lg-10">
    <%= submit_tag (value = "Save Changes"), :class => 'btn btn-primary form', :id => 'multiSubmit' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                runtimes_path, :class => 'btn btn-default' %>
</div>
